.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  min-height: 100vh;
  background-color: #0d1b2a;
  padding: 20px;
  background: linear-gradient(-45deg, #0d1b2a, #1b263b);
  background-size: 400% 400%; /* Adjust background size for animation */
  animation: bg 12s ease infinite;
  font-family: 'Noto Sans', sans-serif;
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Main-Content {
  padding: 20px;
  width: 100%;
  max-width: 50rem;
  height: auto;
  border-radius: 10px;
  border: 2px solid #577B8D;
  overflow: hidden;
  margin-top: 10px;
  background-color: #1b263b;
}

.App h1 {
  margin-top: 55px;
  color: #fff;
}

.Header-Texts {
  border-bottom: 2px solid #577B8D;
  padding: 10px;
  margin: 0;
  position: fixed; /* Fixes the element at the top */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the element spans the full width of the viewport */
  z-index: 1000; /* Places the element above other content */
  background-color: #0d1b2a;
  background: linear-gradient(-45deg, #0d1b2a, #1b263b);
  background-size: 400% 400%; /* Adjust background size for animation */
  animation: bg 12s ease infinite;
}

.Header-Texts ul {
  display: flex;
  justify-content: center; /* Center the list */
  list-style-type: none; /* Remove default list style */
  padding: 0;
  margin: 0;
}

.Header-Texts li {
  color: white;
  font-size: 18px;
  margin: 0 15px; /* Space between items */
}

.Header-Texts .left {
  margin-right: auto; /* Pushes the first item to the left */
}

.Header-Texts .right {
  margin-left: auto; /* Pushes the remaining items to the right */
}

.table-container {
  height: 100%;
  max-height: 61vh; /* Adjust this value as needed */
  overflow-y: auto;
  width: 100%;
  border-radius: 10px;
  margin: 0;
  background-color: #e0e1dd;
  
}

.table-container table {
  width: 100%;
   /* Ensures borders are merged */
  /* White background for the table */
  color: #ffffff; /* Black text color */
  border-radius: 10px;
  border-bottom-left-radius: 10px
}

thead {
  background-color: #577B8D; /* Header background color */
  color: white; /* Header text color */
}

.table-container th {
  position: sticky;
  top: 0;
  background-color: #415a77; /* Ensure background color is consistent */
  padding: 12px;
  text-align: left;
  color: #fff;
  
}

th, td {
  padding: 12px;
  text-align: left;
  /* Adds a border below each row */
}
tbody td{
  font-size: 15px;
  color: #0d1b2a;
}
tbody tr:hover td{
  background-color: #cdd2d8; /* Light grey background on hover */
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  border: none; /* Remove all borders */
  border-radius: 5px;
   /* Add shadow only at the bottom */
  transition: box-shadow 0.3s, border-color 0.3s; /* Smooth transition */
}

input[type="text"]:focus {
  outline: none; /* Remove the default outline */
  box-shadow: 0 2px 8px 0 rgba(87, 123, 141, 0.6); /* Add shadow with new color */
  border-bottom: 3px solid #577B8D; /* Highlight bottom border with new color */
}



.button-container {
  display: flex;
  justify-content: space-between; /* Distribute space between the buttons */
  padding: 10px;
  width: 100%; /* Ensure the button container takes the full width */
  box-sizing: border-box; /* Include padding in width calculation */
  margin-top: 10px;
}

/* Styling for the buttons */
.add-btn,
.calculate-btn {
  width: 50%; /* Each button takes up 48% of the container width */
  padding: 10px 0; /* Padding for vertical space */
  font-size: 1rem;
  color: white; /* Ensure the text color is white */
  background-color: #778da9; /* Add background color */
  border: 1px solid #577B8D;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 0 -10px;
}

/* Hover effect for buttons */
.add-btn:hover,
.calculate-btn:hover {
  background-color: #a5b6be; /* Darker background color on hover */
  transition: 0.5s;
}
